<!DOCTYPE html>
<html>
  <head>
    <title>Add Post</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><center>G O L D B U B B L E</center></h1>
    <!-- ///////navigation bar -->
    <div class="navbar">
      <a href="/">HOME</a>
      <div class="dropdown">
        <button class="dropbtn">
          ARTS AND HUMANITIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/art">Art</a>
          <a href="/design">Design</a>
          <a href="/english">English</a>
          <a href="/music">Music</a>
          <a href="/theatre">Theatre</a>
          <a href="/visualcultures">Visual Cultures</a>
          <a href="/dance&performance">Dance and Performance</a>
          <a href="/languages">Languages</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          CULTURE AND SOCIETY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/anthropology">Anthropology</a>
          <a href="/history">History</a>
          <a href="/media">Media</a>
          <a href="/politics">Politics</a>
          <a href="/sociology">Sociology</a>
          <a href="/psychology">Psychology</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          PROFESSIONAL STUDIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/education">Education</a>
          <a href="/business">Business</a>
          <a href="/management">Management</a>
          <a href="/law">Law</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          SCIENCE AND TECHNOLOGY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/computerscience">Computer Science</a>
          <a href="computing">Computing</a>
          <a href="/gamescomputing">Games Computing</a>
        </div>
      </div>
      <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>
    <div class="addbg">
      <div class="add-box">
        <h4>Add Post</h4>
        <form method="POST" action="/addpost">
          <div class="container">
            <label for="post_title"><b>Title:</b></label>
            <input
              type="text"
              placeholder="Enter post title"
              name="post_title"
              required
            />

            <label for="post_content"><b>Content:</b></label>
            <textarea
              placeholder="Enter post content"
              name="post_content"
              required
            ></textarea>

            <label for="topic_title"><b>Select a topic:</b></label>
            <select name="topic_title" id="topic_title" required>
              <option value="">Select a topic</option>
              <option value="Art">Art</option>
              <option value="Design">Design</option>
              <option value="English">English</option>
              <option value="Music">Music</option>
              <option value="Theatre">Theatre</option>
              <option value="Visual Cultures">Visual Cultures</option>
              <option value="Dance and Performance">
                Dance and Performance
              </option>
              <option value="Languages">Languages</option>
              <option value="Anthropology">Anthropology</option>
              <option value="History">History</option>
              <option value="Media">Media</option>
              <option value="Politics">Politics</option>
              <option value="Sociology">Sociology</option>
              <option value="Psychology">Psychology</option>
              <option value="Education">Education</option>
              <option value="Business">Business</option>
              <option value="Management">Management</option>
              <option value="Law">Law</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Computing">Computing</option>
              <option value="Games Computing">Games Computing</option>
            </select>

            <button type="submit" class="registerbtn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
