<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=blogName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <!-- ///////////// //account profile -->
  <div class="dropdown">
    <img src="profile.jpg" alt="Profile Photo" />
    <div class="dropdown-content">
      <a href="#">Account Details</a>
      <a href="#">Edit Personal Information</a>
      <a href="#">Add Profile Picture</a>
      <a href="#">Terminate Account</a>
    </div>
  </div>
  <!-- ///////////// -->
  <body>
    <h1>Welcome to <%=blogName%></h1>

    <p><a>About <%=blogName%></a></p>

    <!-- ///////navigation bar -->
    <div class="navbar">
      <a href="index.ejs">Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Arts and Humanities
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Art</a>
          <a href="#">Design</a>
          <a href="#">English and Creative Writing</a>
          <a href="#">Music</a>
          <a href="#">Theatre and Performance</a>
          <a href="#">Visual Cultures</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Culture and Society
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Anthropology</a>
          <a href="#">History</a>
          <a href="#">Law</a>
          <a href="#">Media Communications and Cultural Studies</a>
          <a href="#">Politics and International Relations</a>
          <a href="#">Sociology</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Professional Studies
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Educational Studies</a>
          <a href="#">Institute for Creative and Cultural Entrepreneurship</a>
          <a href="#">Institute of Management Studies</a>
          <a href="#">Psychology</a>
          <a href="#">Social Therapeutic and Community Studies</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Science and Technology
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Computing</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Other Academic Areas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Academic Language and Literacies</a>
          <a href="#">Confucius Institute for Dance and Performance</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Search
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form>
            <input type="text" placeholder="Type Something.." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>
    <main>
      <section>
        <h2>Latest Posts</h2>
        <ul>
          <li><a href="#">Post Title 1</a></li>
          <li><a href="#">Post Title 2</a></li>
          <li><a href="#">Post Title 3</a></li>
        </ul>
      </section>
      <section>
        <h2>Find a Subject</h2>
        <ul>
          <li><a href="#"> Subject 1</a></li>
          <li><a href="#"> Subject 2</a></li>
          <li><a href="#"> Subject 3</a></li>
          <li><a href="#"> Subject 4</a></li>
        </ul>
      </section>
      <aside>
        <img src="random.jpg" alt="random" width="200px" />
        <img src="random2.jpg" alt="random2" width="200px" />
        <img src="random3.jpg" alt="random3" width="200px" />
      </aside>
    </main>
  </body>
</html>
