<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=blogName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=blogName%></h1>
    <p><a>About <%=blogName%></a></p>
  </body>
</html>
