<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Goldbubble</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <h1><center>G O L D B U B B L E</center></h1>
    <!-- ///////navigation bar -->
    <div class="navbar">
      <a href="/">HOME</a>
      <div class="dropdown">
        <button class="dropbtn">
          ARTS AND HUMANITIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/art">Art</a>
          <a href="/design">Design</a>
          <a href="/english">English</a>
          <a href="/music">Music</a>
          <a href="/theatre">Theatre</a>
          <a href="/visualcultures">Visual Cultures</a>
          <a href="/dance&performance">Dance and Performance</a>
          <a href="/languages">Languages</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          CULTURE AND SOCIETY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/anthropology">Anthropology</a>
          <a href="/history">History</a>
          <a href="/media">Media</a>
          <a href="/politics">Politics</a>
          <a href="/sociology">Sociology</a>
          <a href="/psychology">Psychology</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          PROFESSIONAL STUDIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/education">Education</a>
          <a href="/business">Business</a>
          <a href="/management">Management</a>
          <a href="/law">Law</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          SCIENCE AND TECHNOLOGY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/computerscience">Computer Science</a>
          <a href="computing">Computing</a>
          <a href="/gamescomputing">Games Computing</a>
        </div>
      </div>
      <div class="dropdown">
        <% if (user) { %>
        <button class="dropbtn">
          <%= user.username %>
          <i class="fa fa-caret-down"></i>
        </button>
        <a href="/logout" class="logout-button">Log Out</a>
        <% } else { %>
        <button class="dropbtn" onclick="redirectToSignup()">
          LOG IN
          <i class="fa fa-caret-down"></i>
        </button>
        <% } %>
      </div>

      <script>
        function redirectToSignup() {
          window.location.href = "/signup";
        }
      </script>

      <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Weclome Box -->
    <div class="container">
      <div class="welcome-box">
        <h3>Welcome to GOLDBUBBLE</h3>
        <p>
          Join our student community and empower your learning journey<br />
          with our blog. Discover, share, and enhance your knowledge<br />
          with other students across different study areas!
        </p>
        <% if (user) { %>
        <center>
          <button onclick="window.location.href='/addpost'">ADD A POST</button>
        </center>
        <% } else { %>
        <center>
          <button onclick="window.location.href='/signup'">GET STARTED</button>
        </center>
        <% } %>
      </div>
    </div>

    <!--Image Slider-->
    <div class="slider">
      <img src="/images/image1.jpg" />
      <img src="/images/image2.jpg" />
      <img src="/images/image3.jpg" />
      <img src="/images/image4.jpg" />
    </div>
    <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document
          .getElementsByClassName("slider")[0]
          .getElementsByTagName("img");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
      }
    </script>
  </body>
</html>
