@charset "UTF-8";

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: darkcyan;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: cadetblue;
}

.blog-container {
  float: left;
  width: 50%;
}

.image-container {
  float: left;
  width: 20%;
  margin-left: 50px;
  margin-top: 50px;
}

.image-container img {
  width: 100%;
}

.buildingimg {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.buildingimg img {
  width: 100%;
  margin-top: 10%;
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: orangered;
  text-decoration: none;
  padding: 5px;
}

/* visited link */
a:visited {
  color: tomato;
  text-decoration: none;
  padding: 5px;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  padding: 5px;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: inherit;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #81c2d4;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown img {
  padding: 15px;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #c8dfdd;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: #ddece8;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ebf8fa;
  margin-top: 20px;
}

.box {
  background-color: #f5f5f5;
  color: black;
  padding: 50px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 24px;
  margin-top: 0;
}

.card h5 {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.author {
  font-size: 14px;
  color: #888;
}

.topic {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.post-content {
  display: none;
}

.show-less-button {
  display: none;
}
