@charset "UTF-8";
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: darkcyan;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: cadetblue;
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: orangered;
  text-decoration: none;
  padding: 5px;
}

/* visited link */
a:visited {
  color: tomato;
  text-decoration: none;
  padding: 5px;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 5px;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  padding: 5px;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: inherit;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #81c2d4;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image
.fakeimg {
  background-color: * {
    box-sizing: border-box;
  } */

  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  /* Add a card effect for articles */
  .card {
    background-color: #ebf8fa;
    padding: 20px;
    margin-top: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #ebf8fa;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ebf8fa;
  margin-top: 20px;
}

.box {
  background-color: #f5f5f5;
  color: black;
  padding: 30px;
}
